.headerLogo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5%;
}

.container{
    position: relative;
}

.cartImg{
    position: absolute;
    width: 100px;
    top: 10%;
    right: 50px;
}

.cartItem{
    font-size: small;
    padding-left: 10px;
    font-weight: bold;
    color: firebrick;
}