.loginContainer{
    border: 3px solid lightblue;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.img1{
    width: 40%;
    height: 5%;
}

.imgBox{
    display: flex;
    justify-content: center;
}

.containerBox{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}